@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Krona+One&family=Oleo+Script:wght@400;700&family=Red+Rose:wght@400;700&family=Rowdies:wght@400;700&display=swap');
/* font-family: 'Krona One', sans-serif;
font-family: 'Oleo Script', cursive;
font-family: 'Red Rose', cursive;
font-family: 'Rowdies', cursive; */

/* CSS files add styling rules to your content */

body {
  font-family: "Rowdies", cursive;
  background-color: yellow;
}

h1 {
  font-style: italic;
  color: #373fff;
}

img {
  /*   width: 100%; */
}
/* class="header" */
.header {
  /*   border: 2px dotted red; */
  display: flex;
  flex-wrap: wrap;
}
.header ul li {
  display: inline;
}

/* Learn more about the class Attribute
https://www.w3schools.com/html/html_classes.asp
 */
/* class="dancerinfo" */
.dancerinfo {
  /* Learn more about CSS Flexbox
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
complete guide explains everything about flexbox, focusing on all the different possible properties for the parent element (the flex container) and the child elements (the flex items).
 */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1em;
}
.dancerinfo div {
  text-align: center;
}
.dancerinfo img {
  width: 50%;
}
.subtitle {
  font-family: "Oleo Script", cursive;
}
.footer {
  background-color: pink;
}
.britney {
  font-family: "Krona One", sans-serif;
}
.ha {
  font-family: "Red Rose", cursive;
}
.yk{
font-family: "Indie Flower",cursive;
}